@import '../var/var.scss';
.ecode-tag{
    padding:3px 5px;
    color:$text-color;
    margin: 0 0 8px 8px;
    line-height: 20px;
    font-size: $tag-text-font-size;
    background: $tag-bg-color;
    display: inline-block;
    border-radius: 5px;
    border:1px solid $tag-border-color;
    cursor: pointer;
    &:hover{
        background: $tag-hover-bg-color;
    }
}