@import '../var/var.scss';
.ecode-select{
    display: inline-block;
    position: relative;
    >.content{
        padding:5px 0 0 0;
    }
    .options{
        width: 100%;
        > .noData{
            text-align: center;
            padding:10px;
        }
        &.ecode-scrollbar{
            height: 280px ;
           
        }
        > .ecode-scrollbar-wrapper > .ecode-scroll-content{
            // padding-right:10px;
            > .ecode-option{
                padding:10px 12px;
                color:$option-color;
                line-height: 22px;
                cursor: pointer;
                > .selectedIcon{
                    float: right;
                }
                &:after{
                    content:"";
                    display: block;
                    clear: both;
                }
                &.hover:not(.disabled){
                    background-color: $option-hover-bg-color;
                }
                &.disabled{
                    cursor: not-allowed;
                    // background-color: $disabled-bg;
                    color:$disabled-text-color;
                }
                &.selected:not(.disabled){
                    color:$primary-color;
                    font-weight: bold;
                    background-color: $option-selected-bg-color;
                }
                &.selected.multiple:not(.disabled){
                    background-color: inherit;
                }
            }
        }
        
    }
    span > .ecode-input .ecode-icon{
        fill:$select-arrow-color;
    }
    span > .ecode-input.disabled .ecode-icon{
        fill: $disabled-text-color;
    }
    span > .ecode-input.popper-visible > .ecode-input-inner{
        box-shadow: 0 0 0 2px  $select-visible-shadow-color;
        border:1px solid $select-visible-color;
    }
    >.ecode-popover-wrapper >.reference > .select-reference{
        position: absolute;
        top:0;
        z-index: 1;
        left:0;
        width: 100%;
        // border: 1px solid $border-color;
        // box-shadow: 0 0 2px $shadow-color;
        cursor: pointer;
        border-radius: $border-radius;
        .wrapper >.icon{
            position: absolute;
            right:2px;
            height: 100%;
            top:0;
            width:16px ;
            > .ecode-icon{
                position: absolute;
                top:50%;
                margin-top:-8px;
                margin-left:-8px;
                left:50%;
                width: 16px;
                height: 16px;
                fill: $select-arrow-color;
            }
        }
        .wrapper > .select-tags{
            padding:3px 3px 1px 3px;
            min-height: 34px;
            > .ecode-tag{
                margin :0 3px 3px 0;
            }
            > .select-input{
                border:0;
                outline: none;
                line-height: 30px;
                font-size: $font-size;
                padding: 3px;
            }
        }
        .wrapper{
           
        }
       
       
    }
}