@import '../var/var.scss';
.ecode-scrollbar{
    overflow: hidden;
    position: relative;
    .bottomPadd{
        //盖住底部的滚动条
        position: absolute;
        width: 100%;
        left:0;
        bottom: 0;
        z-index: 1;
        background: $white-color;
    }
    .bar-track{
       
        &.horizontal{
            position: absolute;
            right: 0;
            bottom:0px;
            height: $scroll-bar-width;
            left:0;
            z-index: 2;
            > .scroll-bar-div {
                bottom:0px;
                left:0;
                background: $scroll-bar-bg-color;
                border-radius: 3px;
                height: 100%;
                cursor: pointer;
                
            }
        }
        &.vertical {
            position: absolute;
            bottom: 0;
            top:0px;
            width: $scroll-bar-width;
            right:1px;
            z-index: 1;
            > .scroll-bar-div{
                right:0px;
                background: $scroll-bar-bg-color;
                border-radius: 3px;
                width: 100%;
                cursor: pointer;
                position: absolute;
            }
        }
    }
    > .ecode-scrollbar-wrapper{
        overflow: scroll;
        //设置高度和父元素一样高，内容超出，才能滚动
        height: 100%;
    }

}
.ecode-scrollbar-native{
    overflow: auto;
}