@import '../var/var.scss';
.ecode-scrollbar{
    overflow: hidden;
    position: relative;
    > .scroll-bar-div {
        position: absolute;
        &.vertical{
            right:2px;
            background: $scroll-bar-bg-color;
            border-radius: 3px;
            width: 8px;
            cursor: pointer;
            z-index: 1;
        }
        &.horizontal{
            bottom:2px;
            background: $scroll-bar-bg-color;
            border-radius: 3px;
            height: 6px;
            cursor: pointer;
            z-index: 1;
        }
    }
    > .ecode-scrollbar-wrapper{
       
    }

}
.ecode-scrollbar-native{
    overflow: auto;
}