@import '../var/var.scss';
.ecode-scrollbar{
    overflow: hidden;
    position: relative;
    .bar-track{
        position: absolute;
        height: 100%;
        right:2px;
        width: 8px;
        top:0;
    }
    .scroll-bar-div {
        position: absolute;
        &.vertical{
            top:0;
            right:0px;
            background: $scroll-bar-bg-color;
            border-radius: 3px;
            width: 6px;
            cursor: pointer;
            z-index: 1;
        }
        &.horizontal{
            bottom:2px;
            background: $scroll-bar-bg-color;
            border-radius: 3px;
            height: 6px;
            cursor: pointer;
            z-index: 1;
        }
    }
    > .ecode-scrollbar-wrapper{
        overflow: scroll;
        //设置高度和父元素一样高，内容超出，才能滚动
        height: 100%;
    }

}
.ecode-scrollbar-native{
    overflow: auto;
}