@import '../var/var.scss';
.ecode-table {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;  //去除固定列滚动时候的阴影，只保留一边的阴影
    table{
        color: rgba(0,0,0,.65);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum';
        > tr{
            background-color: $table-default-body-bg-color; //表格每一行的背景色，如果不加 固定列不能盖住 body
        }
    }
   
    .ecode-table-header {
        > tr {

            >th {
                color: rgba(0, 0, 0, .85);
                font-weight: 500;
                text-align: left;
                background: #fafafa;
                position: relative;
                padding: 16px;
                overflow-wrap: break-word;
            }
        }
    }
    .ecode-table-header,.ecode-table-body,.ecode-table-body-fixed{
        width: 100%;
        text-align: left;
        border-radius: 2px 2px 0 0;
        border-collapse: separate;
        border-spacing: 0;
        td,th{
            border-bottom: 1px solid $table-border-color;
            .ecode-button{
                margin-right: 5px;
            }
        }
        th{
            user-select: none;
        }
    }
    .ecode-table-body,.ecode-table-body-fixed{
        > tr{

            > td,> th{
                position: relative;
                padding: 16px;
                overflow-wrap: break-word;
                &.is-hidden{
                    visibility: hidden;
                }
            }
            &.hovering-row{
               > td{
                   background: $table-td-hover-color;
               }
            }
        }
    }
    &.ecode-table-bordered{
        border-left:1px solid $table-border-color;
        border-top:1px solid $table-border-color;
        td,th{
            border-right: 1px solid $table-border-color;
            border-bottom:1px solid $table-border-color;
        }
        &.no-data{
            border-bottom: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;
        }
    }
    //table主体头部的父容器
    .ecode-table-header-wrapper{
        //头部滚动条需要隐藏
        overflow: hidden;
    }
    //table主体body的父容器
    .ecode-table-body-wrapper{
        //table内容滚动
        overflow: auto;
        //被ecode-table 挡住了滚动条
        position: relative;
        min-height: $table-body-min-height;
    }

    > .ecode-table-fixed-left{
        position: absolute;
        left:0;
        top:0;
        bottom: 0;
        overflow: hidden;
            //左侧固定列父容器
        > .ecode-table-fixed-left-body-wrapper{
            //左侧固定列body随着 主表格的body滚动而滚动 overflow:hidden;
            position: absolute;
            left:0px;
            bottom:0px;
            overflow: hidden;
        }
    }

    > .ecode-table-fixed-right{
        position: absolute;
        right:0px;
        top:0;
        bottom: 0;
        overflow: hidden;
            //左侧固定列父容器
        > .ecode-table-fixed-right-body-wrapper{
            //左侧固定列body随着 主表格的body滚动而滚动 overflow:hidden;
            position: absolute;
            right:0px;
            bottom:0px;
            overflow: hidden;
        }

        > .ecode-table-header-right-wrapper{
            position: absolute;
            right:0px;
        }
    }
    .fixed-right-patch{
        position: absolute;
        right:0;
        top:0;
        background-color: $table-default-header-bg-color;
    }

    &.scroll-shadow-position-both > .ecode-table-fixed,&.scroll-shadow-position-left > .ecode-table-fixed-left,&.scroll-shadow-position-right > .ecode-table-fixed-right{
         //显示阴影
         box-shadow: 0px 0px 10px rgba(0,0,0,.12);
    }
    .no-data{
        //未查询到数据的样式
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        top:0;
        min-height: $table-body-min-height;
        text-align: center;
        .inner{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate3d(-50%,-50%,0);
            .text{
                color: rgba(0,0,0,.25);
                color: 16px;
                margin-top:10px;
            }
            .ecode-icon{
                width: 40px;
                height: 40px;
                fill: rgba(0,0,0,.25);
            }
        }
    }
}