$font-size:14px;
$button-height:34px;
$button-bg:#fff;
$button-active-bg:rgb(158, 158, 158);
$button-hover-bg:rgb(192, 192, 192);
$button-color:#000;
$border-radius:3px;
$border-color:#5a5a5a;
$border-active-color:rgb(22, 21, 21);

$text-color:#606266;
$shadow-color:#5f5f5f;
$border-hover-color:#131212;
$disabled-border-color:#ccc;
$disabled-text-color:#ccc;
$disabled-bg:#d8d8d8;
$error-color:#ee1b1b;


$primary-color:#202040;
$primary-hover-color:#323232;
$default-color:#827397;
$default-hover-color:#4d4c7d;
$white-color:#fff;
$danger-color:#fa3d3d;
$danger-hover-color:#f86060;

$table-td-hover-color:#f4f3f5;
$table-border-color:#f0f0f0;
$table-default-body-bg-color:#fff;
$table-default-header-bg-color:#fafafa;
$table-body-min-height:100px; //表格内容最小高度
$table-tr-strip-bg-color:#fafafa;
$table-sort-color:#bebebe; //表格排序按钮正常颜色
$table-sort-active-color:#9bbbf0; //表格排序按钮激活颜色


$back-to-top-fill-color:#916af1;  //回到顶部svg fill
$back-to-top-shadow-color:#b7b7f1; //回到顶部阴影