$font-size:14px;
$button-height:34px;
$button-bg:#fff;
$button-active-bg:rgb(158, 158, 158);
$button-hover-bg:rgb(192, 192, 192);
$button-color:#000;
$border-radius:3px;
$border-color:#5a5a5a;
$border-active-color:rgb(22, 21, 21);

$text-color:#606266;
$shadow-color:#5f5f5f;
$border-hover-color:#131212;
$disabled-border-color:#d9d9d9;
$disabled-text-color:#ccc;
$disabled-bg:#d8d8d8;
$error-color:#ee1b1b;
$border-radius:4px; //通用圆角
$disabled-checkbox-button-bg:#eee;   //checkbox 按钮样式禁用状态bg;
$checkbox-button-shadow-color:#a95cf1; //选中状态下的checkbox 按钮样式右侧阴影颜色


$primary-color:#4646a1;//主色调
$primary-hover-color:#515da1; //主色调hover
$default-color:#827397;//默认颜色
$default-hover-color:#4d4c7d;//默认hover颜色
$white-color:#fff;
$grey-color:#ccc;
$danger-color:#fa3d3d;
$danger-hover-color:#f86060;
$text-color:rgba(0,0,0,.65); //字体颜色
$text-font-size:14px; //字体大小

$table-td-hover-color:#f4f3f5;
$table-border-color:#f0f0f0;
$table-default-body-bg-color:#fff;
$table-default-header-bg-color:#fafafa;
$table-body-min-height:100px; //表格内容最小高度
$table-tr-strip-bg-color:#fafafa;
$table-sort-color:#bebebe; //表格排序按钮正常颜色
$table-sort-active-color:#9bbbf0; //表格排序按钮激活颜色


$back-to-top-fill-color:#916af1;  //回到顶部svg fill
$back-to-top-shadow-color:#b7b7f1; //回到顶部阴影