$font-size:14px;
$button-height:30px;
$button-bg:#fff;
$button-active-bg:#9e9e9e;
$button-hover-bg:#c0c0c0;
$button-color:#000;
$border-radius:3px;
$border-color:#5a5a5a;
$border-active-color:#161515;
$default-button-focus-bg-color:#dddaf6;
$default-button-focus-border-color:#4b4ef8;
$default-button-focus-color:#6366f3;

//输入框用
$text-color:#606266;//文本颜色
$shadow-color:rgba(95, 95, 95,.2);//阴影颜色
$border-hover-color:#131212;
$disabled-border-color:#d9d9d9;
$disabled-text-color:#afafaf;
$disabled-bg:#f2f2f3;
$error-color:#ee1b1b;
$border-radius:4px; //通用圆角
$disabled-checkbox-button-bg:#eee;   //checkbox 按钮样式禁用状态bg;
$checkbox-button-shadow-color:#cca1f3; //选中状态下的checkbox 按钮样式右侧阴影颜色


$primary-color:#4646a1;//主色调
$primary-hover-color:#515da1; //主色调hover
$default-color:#827397;//默认颜色
$default-hover-color:#4d4c7d;//默认hover颜色
$white-color:#fff;
$grey-color:#f0f0f0;
$danger-color:#fa3d3d;
$danger-hover-color:#f86060;
$text-color:rgba(0,0,0,.65); //字体颜色
$text-font-size:14px; //字体大小


$table-td-hover-color:#f4f3f5; //单元格hover颜色
$table-td-highlight-color: #e2e8f8; //行选中背景色
$table-border-color:#f0f0f0; //表格边框颜色
$table-default-body-bg-color:#fff;//表格背景颜色
$table-default-header-bg-color:#fafafa;//表格头部颜色
$table-body-min-height:100px; //表格内容最小高度
$table-tr-strip-bg-color:#fafafa;
$table-sort-color:#bebebe; //表格排序按钮正常颜色
$table-sort-active-color:#9bbbf0; //表格排序按钮激活颜色


$back-to-top-fill-color:#916af1;  //回到顶部svg fill
$back-to-top-shadow-color:#cdb7f1; //回到顶部阴影



/**tooltip */
$tooltip-dark-bg-color: #303133;
$tooltip-light-bg-color: #d3def1;
$tooltip-dark-color: #FFF;

/** popover*/
$title-border-color:#615f5f;  //标题边框颜色

/** 滚动条*/
$scroll-bar-bg-color:#d4d4d4;
$scroll-bar-width:8px;

/** select */
$select-arrow-color:#c0c0c0;//下拉框小箭头颜色
$option-color:#575757;
$option-hover-bg-color:#e9ecf9;
$select-visible-color:#7272f5; //下拉框展开时候 input的边框颜色
$select-visible-shadow-color:rgba(114, 114, 245,.1); 


/*tag*/
$tag-text-font-size:12px;
$tag-bg-color:#ebebeb;
$tag-border-color:#bebebe;