@import '../var/var.scss';
@import '../transition/wave.scss';
.ecode-checkbox{
    display: inline-block;
    > .checkbox-label{
        position: relative;
        > .checkbox-input{
            opacity: 0;
            position: absolute;
            left:-9999;
            top:0;
            visibility: hidden;
            
        }
        > .checkbox-rect{
            width: 20px;
            height: 20px;
            background: $white-color;
            border:1px solid $grey-color;
            display: inline-block;
            border-radius: 2px;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            position: relative;
            &:hover{
                border:1px solid  $primary-color;
            }
            &::before{
                position: absolute;
               
                transition: opacity .2s cubic-bezier(.12,.4,.29,1.46) .1s;
                content: ' ';
                opacity: 0;
            }
        }
        > .checkbox-content{
            color: $text-color;
            margin-left: 5px;
            font-size:$text-font-size;
            cursor: pointer;
            margin-right: 15px;
        }

        &.checked{
            > .checkbox-rect{
               background: $primary-color;
               border:1px solid $primary-color;
               &::before{
                    top:1px;
                    bottom: 3px;
                    width: 4px;
                    left: 50%;
                    margin-left:-2px;
                    border: 2px solid $white-color;
                    border-top: 0;
                    border-left: 0;
                    transform: rotate(45deg) scale(1);
                   opacity: 1;
               }
            }
            > .checkbox-content{
                color: $primary-color;
            }
        }

        &.disabled{
            //禁用状态
            > .checkbox-rect{
                cursor:not-allowed;
                border:1px solid $disabled-border-color;
                &::before{
                    opacity: 1;
                }
             }
             > .checkbox-content{
                cursor:not-allowed;
                 color: $disabled-border-color;
             }
             &.checked >.checkbox-rect{
                background: $disabled-border-color;
             }
        }

        &.indeterminate{
            > .checkbox-rect{
                border:1px solid $primary-color;
                &::before{
                    opacity: 1;
                    position: absolute;
                    left:3px;
                    right: 3px;
                    bottom: 3px;
                    top:3px;
                    background: $primary-color;
                }
            }
        }
        > .checkbox-button{
            padding:10px 15px;
            cursor: pointer;
            display: inline-block;
            color: $text-color;
            border-right:1px solid $grey-color;
            border-bottom:1px solid $grey-color;
            border-top:1px solid $grey-color;
          
        }
        &:not(.checked):not(.disabled) > .checkbox-button:hover{
            color: $primary-color;
            border:1px solid $primary-color;
        }
        &.checked > .checkbox-button {
            background: $primary-color;
            color: $white-color;
            border:1px solid $primary-color;
            box-shadow: -1px 0 0 0 $checkbox-button-shadow-color;
        }
        &.checked:first-of-type > .checkbox-button{
            border:1px solid $primary-color;
        }
        &.disabled > .checkbox-button {
            cursor:not-allowed;
            color:$disabled-text-color;
            background:$disabled-checkbox-button-bg;
        }

    }
    &:first-of-type > .checkbox-label > .checkbox-button{
        border-left:1px solid $grey-color;
        border-top-left-radius:  $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    &:first-of-type > .checkbox-label:not(.checked):not(.disabled) > .checkbox-button:hover{
        border:1px solid $primary-color;
    }
    &:last-of-type > .checkbox-label > .checkbox-button{
        border-right:1px solid $grey-color;
        border-top-right-radius:  $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    &:last-of-type > .checkbox-label:not(.checked):not(.disabled) > .checkbox-button:hover{
        border:1px solid $primary-color;
    }
}