@import './var/var.scss';
@import './transition/wave.scss';
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ecode-button {
    display: inline-block;
    vertical-align: middle; //让按钮和外面的元素水平对齐
    padding: 4px 15px;
    font-weight: 400;
    white-space: nowrap;
    line-height: 1.5715;
    font-size: $font-size;
    background: $button-bg;
    height: $button-height;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    user-select: none; //文本不能被选择
    touch-action: manipulation; //浏览器只允许进行滚动和持续缩放操作
    cursor: pointer;

    .loading {
        animation: spin 2s linear infinite;
    }

    &:focus {
        outline: none;
    }

    // &:active {
    //     background: $button-active-bg;
    // }

    &.icon-left>.icon-span {
        margin-right: .3em;
    }

    &.icon-right>.icon-span {
        /** 如果长度和字体大小相同 推荐用em */
        float: right;
        margin-left: .3em;
    }

    &.icon-right>.content {
        order: 1;
    }

    &.ecode-button-small {
        padding: 0 7px;
        height: 24px;
        line-height: 22px;
    }
}

.ecode-button.ecode-button-primary {
    background: $primary-color;
    color: $white-color;
    border: 1px solid $primary-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);

    &:hover {
        background: $primary-hover-color;
        color: $white-color;
    }
    &.ecode-button-ghost{
        color:$primary-color;
        border: 1px solid $primary-color;
    }
}

.ecode-button,.ecode-button.ecode-button-default {
    background: $white-color;
    color: $default-color;
    border: 1px solid $default-color;

    &:hover {
        border: 1px solid $default-hover-color;
        color: $default-hover-color;
    }

    &.ecode-button-ghost{
        color:$white-color;
        border: 1px solid $white-color;
        &:hover {
            border: 1px solid $default-hover-color;
            color: $default-hover-color;
        }
    }
}

.ecode-button.ecode-button-primary.ecode-button-danger {
    background: $danger-color;
    color: $white-color;
    border: 1px solid $danger-color;

    &:hover {
        background: $danger-hover-color;
    }

    &.ecode-button-ghost{
        color:$white-color;
        border: 1px solid $white-color;
        &:hover {
            border: 1px solid $default-hover-color;
            color: $default-hover-color;
        }
    }
}

.ecode-button.ecode-button-default.ecode-button-danger {
    color: $danger-color;
    border: 1px solid $danger-color;
    &:hover {
        border: 1px solid $danger-hover-color;
        color: $danger-hover-color;
    }
    &.ecode-button-ghost{
        color:$white-color;
        border: 1px solid $white-color;
        &:hover {
            border: 1px solid $default-hover-color;
            color: $default-hover-color;
        }
    }
}

.ecode-button.ecode-button-dashed.ecode-button-danger {
    color: $danger-color;
    border: 1px dashed $danger-color;
    &:hover {
        border: 1px dashed $danger-hover-color;
        color: $danger-hover-color;
    }
    &.ecode-button-ghost{
        color:$white-color;
        border: 1px solid $white-color;
        &:hover {
            border: 1px solid $default-hover-color;
            color: $default-hover-color;
        }
    }
}

.ecode-button.ecode-button-text.ecode-button-danger {
    background: transparent;
    color: $danger-color;
    border: none;
    box-sizing: none;

    &:hover {
        color: $danger-hover-color;
    }
}

.ecode-button.ecode-button-dashed {
    background: $white-color;
    color: $default-color;
    border: 1px dashed $default-color;

    &:hover {
        border: 1px dashed $default-hover-color;
        color: $default-hover-color;
    }
    &.ecode-button-ghost{
        color:$white-color;
        border: 1px dashed $white-color;
        &:hover {
            border: 1px dashed $default-hover-color;
            color: $default-hover-color;
        }
    }
}

.ecode-button.ecode-button-text {
    background: transparent;
    color: $default-color;
    border: none;
    box-sizing: none;

    &:hover {
        color: $default-hover-color;
    }
}

.ecode-button.ecode-button-circle {
    border-radius: 50%;
    padding: 4px;
    width: 34px;
}

.ecode-button.ecode-button-round {
    padding: 0px;
    min-width: 100px;
    border-radius: 20px;
    line-height: 34px;
    height: 34px;
}

.ecode-button.ecode-button-large {
    font-size: 16px;
    height: 40px;
    padding: 6px 16px;
}

.ecode-button.ecode-button-small {
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
}
.ecode-button.ecode-button-ghost{
    background: transparent;
    &:hover{
        background: transparent;
    }
}
.ecode-button[disabled]{
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    &:hover{
        color: rgba(0,0,0,.25);
        background-color: #f5f5f5;
        border-color: #d9d9d9;
    }
}

.ecode-button.ecode-button-click-animating{
    position: relative;
}
.ecode-button.ecode-button-danger > .ecode-click-animating{
    border: 0 solid $danger-color;
}
