*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
// :root{
//     --font-size:14px;
//     --button-height:32px;
//     --button-bg:#fff;
//     --button-active-bg:rgb(158, 158, 158);
//     --button-hover-bg:rgb(192, 192, 192);
//     --button-color:#000;
//     --border-radius:5px;
//     --border-color:#333;
//     --border-active-color:rgb(22, 21, 21);
// }
body{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

@import './button.scss';
@import './table/table.scss';
@import './spin/spin.scss';
@import './backToTop/backToTop.scss';
@import './checkbox/checkbox.scss';
@import './tooltip/tooltip.scss';
@import './popover/popover.scss';
@import './input/input.scss';
