.icon-list{
    .ecode-col{
        text-align: center;
        cursor: pointer;
        height: 70px;
        margin-top:10px;
        .icon-name{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .ecode-icon{
        width: 2em;
        height: 2em;
        fill: #9099d0;
    }
}