@import './layout.scss';
@import './icon.scss';
@import './button.scss';
@import './tooltip.scss';
@import './input.scss';
@import './scrollbar.scss';
.example{
    width: 100%;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
ul,li{
    list-style: none;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-15{
    margin:15px;
}
.inline-block{
    display: inline-block;
}
.ecode-doc{
    padding:20px;
    > .tip{
        padding: 8px 16px;
        background-color: #d4dbf5;
        border-radius: 4px;
        border-left: 5px solid #6b83ec;
        margin: 20px 0;
    }
    > h1{
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
        font-family: Avenir,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;;
    }
    > h2, > h3{
        font-weight: 400;
        color: #1f2f3d;
        a{
            opacity: .4;
        }
        a:hover{
            opacity: .4;
        }
        margin:20px 0 20px;
    }
    > h3{
        margin:15px 0 15px;
    }
    p{
        margin:15px 0 15px 0 ;
        color: #616164;
        line-height: 28px;
        > code{
            padding:8px;
            vertical-align: middle;
            margin-bottom: 5px;
            background: #5e5ee6;
            border-radius: 3px;
            color: #fff;
        }
    }
    .hljs{
        line-height: 1.8;
        font-family: Menlo,Monaco,Consolas,Courier,monospace;
        font-size: 12px;
        padding: 18px 24px;
        background-color: #fafafa;
        border: 1px solid #eaeefb;
        border-radius: 4px;
        -webkit-font-smoothing: auto;
    }
    > table{
        border-collapse: collapse;
        width: 100%;
        margin-bottom:40px;
        line-height: 1.5em;
        table-layout: fixed;
        margin-top: 15px;
        th{
            text-align: center;
            white-space: nowrap;
            color: #333;
            font-weight: 400;
            padding: 15px;
            background: #e1e3f5;
        }
        td{
            border-bottom: 1px solid #dcdfe6;
            padding: 15px;
            max-width: 250px;
            color:#616164;
            text-align: center;
        }
    }
    ul{
        margin-left: 20px;
        padding-left: 4px;
        list-style-type: circle;
        li{
            padding:5px;
            color:#1f2f3d;
        }
    }
}
.doc-header > .miniBar{
    display: none;
}

@media only screen and (max-width: 767.99px){

    .doc-nav{
        display: none;
    }
    .subMenu{
    
        .subMenuTitle{
          padding: 10px 20px;
        }
    }
    .popper-content > .doc-nav{
        display: block;
        padding-top: 3px;
        height: calc( 100vh - 60px);
        overflow: auto;
    }
    .doc-content{
        padding-left:10px;

        .table{
            overflow: auto;
        }
    }
    .doc-header > .miniBar{
        display: block;
        position: absolute;
        right:15px;
        top:20px;
        width: 30px;
        height: 30px;
        & .ecode-icon{
            width: 1.5em;
            height: 1.5em;
        }
    }
    .ecode-doc table {
        td{
            padding: 5px 10px;
            word-wrap: break-word;
        }
    }
}
