@import './layout.scss';
@import './icon.scss';
.example{
    width: 100%;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
.ecode-doc{
    padding:30px 0 30px;
    h2,h3{
        font-weight: 400;
        color: #1f2f3d;
        a{
            opacity: 0;
        }
        a:hover{
            opacity: .4;
        }
        margin:20px 0 20px;
    }
    h3{
        margin:10px 0 10px;
    }
    p{
        margin:0 0 5px 0 ;
        color: #616164;
    }
    .hljs{
        line-height: 1.8;
        font-family: Menlo,Monaco,Consolas,Courier,monospace;
        font-size: 12px;
        padding: 18px 24px;
        background-color: #fafafa;
        border: 1px solid #eaeefb;
        border-radius: 4px;
        -webkit-font-smoothing: auto;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        margin-bottom:40px;
        line-height: 1.5em;
        table-layout: fixed;
        th{
            text-align: center;
            white-space: nowrap;
            color: #909399;
            font-weight: 400;
            padding: 15px;
            background: #ebeaef;
        }
        td{
            border-bottom: 1px solid #dcdfe6;
            padding: 15px;
            max-width: 250px;
            color:#616164;
            text-align: center;
        }
    }
    ul{
        margin-left: 20px;
        padding-left: 4px;
        list-style-type: circle;
        li{
            padding:5px;
            color:#1f2f3d;
        }
    }
}
.doc-header > .miniBar{
    display: none;
}

@media only screen and (max-width: 767.99px){

    .doc-nav{
        display: none;
    }
    .popper-content > .doc-nav{
        display: block;
        padding-top: 3px;
        height: calc( 100vh - 60px);
        overflow: auto;
    }
    .doc-content{
        padding-left:10px;

        .table{
            overflow: auto;
        }
    }
    .doc-header > .miniBar{
        display: block;
        position: absolute;
        right:15px;
        top:20px;
        width: 30px;
        height: 30px;
        & .ecode-icon{
            width: 1.5em;
            height: 1.5em;
        }
    }
}
