.demo-layout{
    .ecode-header{
        background: #949191;
        color: #fff;
    }
    .ecode-content{
        line-height: 150px;
        height: 150px;
    }
    .ecode-footer{
        padding: 20px;
    }
    .demo-wrapper > div > .ecode-layout {
        margin-bottom:32px;
    }
    .ecode-sider{
        background: #3a3a3a;
        color: #fff;
        padding: 20px;
    }
}