@import '../var/var.scss';
@import '../transition/transition.scss';
.ecode-tooltip,.ecode-popover{
    background: $tooltip-dark-bg-color;
    color: #FFF;
    padding:10px;
    position: absolute;
    border-radius: 3px;
    > .arrow{
        width: 0;
        position: absolute;
        height: 0;
        border:6px solid transparent;
    }
    &[data-popper-placement^=top] > .arrow{   // 这个属性是popper.js 自动添加的
        bottom: -12px;   
        border-top: 6px solid $tooltip-dark-bg-color;
    }
    &[data-popper-placement^=bottom] > .arrow{
        top: -12px;   
        border-bottom: 6px solid $tooltip-dark-bg-color;
    }
    &[data-popper-placement^=left] > .arrow{
        right: -12px;   
        border-left: 6px solid $tooltip-dark-bg-color;
    }
    &[data-popper-placement^=right] > .arrow{
        left: -12px;   
        border-right: 6px solid $tooltip-dark-bg-color;
    }
}

.ecode-tooltip-light{
    background: $tooltip-light-bg-color;
    color:$text-color;
    &[data-popper-placement^=top] > .arrow{   // 这个属性是popper.js 自动添加的  
        border-top-color: $tooltip-light-bg-color;
    }
    &[data-popper-placement^=bottom] > .arrow{

        border-bottom-color: $tooltip-light-bg-color;
    }
    &[data-popper-placement^=left] > .arrow{

        border-left-color: $tooltip-light-bg-color;
    }
    &[data-popper-placement^=right] > .arrow{
 
        border-right-color: $tooltip-light-bg-color;
    }
}

.ecode-tooltip-plain{
    background: $white-color;
    color:$text-color;
    border:1px solid $tooltip-dark-bg-color;
    > .arrow:after{
        content: "";
        position: absolute;
        width:0;
        height: 0;
        border:5px solid transparent;
    }
    &[data-popper-placement^=top] > .arrow{   // 这个属性是popper.js 自动添加的  
        border-top-color: $tooltip-dark-bg-color;
        &:after{
            border-top-color:$white-color;
            left:-5px;
            top: -6px;
        }
    }
    &[data-popper-placement^=bottom] > .arrow{

        border-bottom-color: $tooltip-dark-bg-color;
        &:after{
            border-bottom-color:$white-color;
            left:-5px;
            top: -4px;
        }
    }
    &[data-popper-placement^=left] > .arrow{

        border-left-color: $tooltip-dark-bg-color;
        &:after{
            border-left-color:$white-color;
            left:-6px;
            top: -5px;
        }
    }
    &[data-popper-placement^=right] > .arrow{
 
        border-right-color: $tooltip-dark-bg-color;
        &:after{
            border-right-color:$white-color;
            left:-4px;
            top: -5px;
        }
    }
}